<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayurveda</title>
     <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="css/Ayurved.css">
</head>
<body>
    {{>header}}

   <div class="cont">
    <div class="detail">
        <span class="heading">
            Ayurveda
        </span>
        <div class="images">

              <div class="flickity">
<div class="carousel" data-flickity='{ "autoPlay": true }'>
  <div class="carousel-cell"><img src="ayurveda/ayurveda-3408425__340.webp" alt="" class="image"></div>
  <div class="carousel-cell"><img src="ayurveda/mandala-2798417__340.jpg" alt="" class="image"></div>
  <div class="carousel-cell"><img src="ayurveda/india-5181009__340.jpg" alt="" class="image"></div>
  <div class="carousel-cell"><img src="ayurveda/istockphoto-855014602-170667a.jpg" alt="" class="image"></div>
  <div class="carousel-cell"><img src="nutrition/istockphoto-854725372-612x612.jpg" alt="" srcset=""></div>
</div>
      </div>  

           
           
            
            
        </div>
        <div class="text">
            Ayurveda is an alternative medicine system with historical roots in the Indian subcontinent. The theory and practice of Ayurveda is pseudoscientific. The Indian Medical Association describes Ayurvedic practitioners who claim to practice medicine as quacks.

            Ayurveda therapies have varied and evolved over more than two millennia. Therapies include herbal medicines, special diets, meditation, yoga, massage, laxatives, enemas, and medical oils. Medicines are typically based on complex herbal compounds, minerals, and metal substances (perhaps under the influence of early Indian alchemy or rasashastra).
        </div>
        <div class="text">
            The main classical Ayurveda texts begin with accounts of the transmission of medical knowledge from the gods to sages, and then to human physicians. In Sushruta Samhita (Sushruta's Compendium), Sushruta wrote that Dhanvantari, Hindu god of Ayurveda, incarnated himself as a king of Varanasi and taught medicine to a group of physicians, including Sushruta. Ayurveda has been adapted for Western consumption, notably by Baba Hari Dass in the 1970s and Maharishi Ayurveda in the 1980s. Some scholars assert that Ayurveda originated in prehistoric times.
        </div>
        <div class="text">
            In Ayurveda texts, Doṣa balance is emphasized, and suppressing natural urges is considered unhealthy and claimed to lead to illness. Ayurveda treatises describe three elemental doṣas viz. vāta, pitta and kapha, and state that balance (Skt. sāmyatva) of the doṣas results in health, while imbalance (viṣamatva) results in disease. Ayurveda treatises divide medicine into eight canonical components. Ayurveda practitioners had developed various medicinal preparations and surgical procedures from at least the beginning of the common era.
        </div>
    </div>
    <span class="heading">
        Eight components
    </span>
        <div class="notes">
            <div class="note">
                Kāyachikitsā: general medicine, medicine of the body.
            </div>
            <div class="note">
                Kaumāra-bhṛtya (Pediatrics): Discussions about prenatal and postnatal care of baby and mother; methods of conception; choosing the child's sex, intelligence, and constitution; childhood diseases; and midwifery.
            </div>
            <div class="note">
                Śalyatantra: surgical techniques and the extraction of foreign objects.
            </div>
            <div class="note">
                Śhālākyatantra: treatment of ailments affecting openings or cavities in the upper body: ears, eyes, nose, mouth, etc.
            </div>
            <div class="note">
                Bhūtavidyā: pacification of possessing spirits, and the people whose minds are affected by such possession
            </div>
            <div class="note">
                Agadatantra/Vishagara-vairodh Tantra (Toxicology): includes epidemics; toxins in animals, vegetables and minerals; and keys for recognizing those anomalies and their antidotes.
            </div>
            <div class="note">
                Rasāyantantra: rejuvenation and tonics for increasing lifespan, intellect and strength.
            </div>
            <div class="note">
                Vājīkaraṇatantra: aphrodisiacs; treatments for increasing the volume and viability of semen and sexual pleasure; infertility problems; and spiritual development (transmutation of sexual energy into spiritual energy)
            </div>
        </div>
</div>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> 
</body>
</html>