<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayurveda</title>
    <link rel="stylesheet" href="css/Ayurveda.css">
</head>
<body>
    {{>header}}

    <div class="container__Ayurveda">
        <div class="first__grid">
         <h1>hello world</h1>
        </div>
       
       <div class="Second__grid">
            <h2> What is Ayurveda? </h2>
               <p>
              Ayurveda, a natural system of medicine,
              originated in India more than 3,000 years ago.
              The term Ayurveda is derived from the Sanskrit 
              words ayur (life) and veda (science or knowledge). 
              Thus, Ayurveda translates to knowledge of life. 
              Based on the idea that disease is due to an imbalance 
              or stress in a person's consciousness, Ayurveda 
              encourages certain lifestyle interventions and 
              natural therapies to regain a balance between the body, 
              mind, spirit, and the environment. 
              </p>
            <p>
                Ayurveda treatment starts with an 
                internal purification process, 
                followed by a special diet, 
                herbal remedies, massage therapy, 
                yoga, and meditation.
            </p>
       </div>
              <div class="third__grid">
                  <h1>hell is here</h1>         
             </div>
       </div>
</body>
</html>