<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Symtomes</title>
    <link rel="stylesheet" href="css/CoronaSymtomes.css">
</head>
<body>
    {{>header}}
    <div class="corona__heading">
    <h1> COVID-19 </h1>
    </div>

    <div class="Covid__Heading">
        <p>
        Coronaviruses are a group of related RNA viruses that cause diseases in mammals and birds. In humans and birds, they cause respiratory tract infections that can range from mild to lethal. Mild illnesses in humans include some cases of the common cold (which is also caused by other viruses, predominantly rhinoviruses), while more lethal varieties can cause SARS, MERS and COVID-19, which is causing an ongoing pandemic. In cows and pigs they cause diarrhea, while in mice they cause hepatitis and encephalomyelitis.
        </p>
        <p>
         Coronaviruses constitute the subfamily Orthocoronavirinae, in the family Coronaviridae, order Nidovirales and realm Riboviria. They are enveloped viruses with a positive-sense single-stranded RNA genome and a nucleocapsid of helical symmetry. The genome size of coronaviruses ranges from approximately 26 to 32 kilobases, one of the largest among RNA viruses. They have characteristic club-shaped spikes that project from their surface, which in electron micrographs create an image reminiscent of the solar corona, from which their name derives.   
        </p>
    </div>    
   <div class="subheadings">
   <h2> Stucture OF Covid 19 Virus</h2>  
    </div>
    <div class="Structure__covid">
           
        <p>
            Coronaviruses are large, roughly spherical particles with unique surface projections. Their size is highly variable with average diameters of <b> 80 to 120 nm. </b> Extreme sizes are known from <b> 50 to 200 nm </b> in diameter. The total molecular mass is on average <b> 40,000 kDa </b>. They are enclosed in an envelope embedded with a number of protein molecules.<b> The lipid bilayer envelope, membrane proteins, and nucleocapsid </b> protect the virus when it is outside the host cell.
        </p>
        <p>
            The viral envelope is made up of a lipid bilayer in which the<b> membrane (M), envelope (E) and spike (S) </b> structural proteins are anchored. The molar ratio of E:S:M in the lipid bilayer is approximately 1:20:300. The E and M protein are the structural proteins that combined with the lipid bilayer to shape the viral envelope and maintain its size. S proteins are needed for interaction with the host cells. But human coronavirus NL63 is peculiar in that its M protein has the binding site for the host cell, and not its S protein. The diameter of the envelope is 85 nm. The envelope of the virus in electron micrographs appears as a distinct pair of electron-dense shells (shells that are relatively opaque to the electron beam used to scan the virus particle).
        </p>
    </div>
    {{!-- Symtomes of Corona Virus --}}
  <div class="subheadings">
     <h2>THEORY REGARDING COVID-19</h2>
</div>
     <div class="Symtomes__covid">
         <p>
Symptoms of COVID-19 are variable, ranging from mild symptoms to severe illness. Common symptoms include headache, loss of smell (anosmia) and taste (ageusia), nasal congestion and runny nose, cough, muscle pain, sore throat, fever, diarrhea, and breathing difficulties. People with the same infection may have different symptoms, and their symptoms may change over time. Three common clusters of symptoms have been identified: one respiratory symptom cluster with cough, sputum, shortness of breath, and fever; a musculoskeletal symptom cluster with muscle and joint pain, headache, and fatigue; a cluster of digestive symptoms with abdominal pain, vomiting, and diarrhea. In people without prior ear, nose, and throat disorders, loss of taste combined with loss of smell is associated with COVID-19 and is reported in as many as 88% of cases.
         </p>
         
         <p>
Of people who show symptoms, 81% develop only mild to moderate symptoms (up to mild pneumonia), while 14% develop severe symptoms (dyspnea, hypoxia, or more than 50% lung involvement on imaging) and 5% of patients suffer critical symptoms (respiratory failure, shock, or multiorgan dysfunction). At least a third of the people who are infected with the virus do not develop noticeable symptoms at any point in time. These asymptomatic carriers tend not to get tested and can spread the disease. Other infected people will develop symptoms later, called "pre-symptomatic", or have very mild symptoms and can also spread the virus.
         </p>
         
         <p>
As is common with infections, there is a delay between the moment a person first becomes infected and the appearance of the first symptoms. The median delay for COVID-19 is four to five days. Most symptomatic people experience symptoms within two to seven days after exposure, and almost all will experience at least one symptom within 12 days.
         </p>

         <p>
Most people recover from the acute phase of the disease. However, some people – over half of a cohort of home-isolated young adults – continue to experience a range of effects, such as fatigue, for months after recovery, a condition called long COVID; long-term damage to organs has been observed. Multi-year studies are underway to further investigate the long-term effects of the disease.
         </p>
     </div>

  
         <div class="varients">
    <h3>Different Covid variants</h3>
    <p>The frequency of symptoms predominating for people suffering from different variants may differ from what was observed in the earlier phases of the pandemic.</p>
   </div>
      <div class="Varients__corona">
    <div class="varient">
        <h3>Delta</h3>
        <p>
        People infected with the Delta variant may mistake the symptoms for a bad cold and not realize they need to isolate. Common symptoms reported as of June 2021 have been headaches, sore throat, runny nose, and fever.[medical citation needed] In the United Kingdom, when the Delta variant accounted for 91 percent of new cases at that time, one study found that the most reported symptoms were headache, sore throat, and runny nose.    
        </p>
         </div>
         <div class="varient">
        <h3>Omicron</h3>
        <p>
         British epidemiologist Tim Spector said in mid-December 2021 that the majority of symptoms of the Omicron variant were the same as a common cold, including headaches, sore throat, runny nose, fatigue and sneezing, so that people with cold symptoms should take a test. "Things like fever, cough and loss of smell are now in the minority of symptoms we are seeing. Most people don’t have classic symptoms." People with cold symptoms in London (where Covid was spreading rapidly) are "far more likely" to have Covid than a cold.
        </p>
        </div>
    </div>
     </div>

{{!-- Symtomes OF Covid --}}
<div class="subheadings">
    <h2> COMMON SYMTOMES IN COVID-19 </h2>
   </div>
     <div class="symtomes__covid19">
         <div class="symtomes">
         <h2>Fever</h2>
         <p>
        Fever is one of the most common symptoms in COVID-19 patients. However, its absence at an initial screening does not rule out COVID-19. Fever in the first week of a COVID-19 infection is part of the body's natural immune response; however, if the infections develop into a cytokine storm the fever is counterproductive.
         </p>
         </div>
 <div class="symtomes">
         <h2>Pain</h2>
         <p>
            A June 2020 systematic review reported a 27–35% prevalence of fatigue, 14–19% for muscle pain, 10–14% for sore throat. As of July 2020, the ECDC reported a prevalence rate of ~63% for muscle weakness (asthenia), ~63% for muscle pain (myalgia), and ~53% for sore throat. 
         </p>
         </div>
         <div class="symtomes">
        <h2>
            Respiratory
        </h2>

         <p>
Cough is another typical symptom of COVID-19, which could be either dry or a productive cough.

Some symptoms, such as difficulty breathing, are more common in patients who need hospital care. Shortness of breath tends to develop later in the illness. Persistent anosmia or hyposmia or ageusia or dysgeusia has been documented in 20% of cases for longer than 30 days.

Respiratory complications may include pneumonia and acute respiratory distress syndrome (ARDS).

As of July 2020, the ECDC reported a prevalence rate of ~68% for nasal obstruction, ~63% for cough, ~60% for rhinorrhoea. A June 2020 systematic review reported a 54–61% prevalence of dry cough and 22–28% for productive cough.
         </p>
         </div>
 <div class="symtomes">
<h2>Cardiovascular</h2>
<p>
Cardiovascular complications may include heart failure, arrhythmias, heart inflammation, and blood clots. They are common traits in severe COVID-19 patients.

Hypertension seems to be the most prevalent risk factor for myocardial injury in COVID-19 disease. It was reported in 58% of individuals with cardiac injury in a recent meta-analysis.

Several cases of acute myocarditis associated with COVID-19 have been described around the globe and are diagnosed in multiple ways. Taking into consideration serology, leukocytosis with neutrophilia and lymphopenia was found in many patients. Cardiac biomarkers troponin and N-terminal (NT)-prohormone BNP (NT-proBNP) were seen elevated.
</p>
</div>
 </div>
</body>
</html>