<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid-19</title>
    <link rel="stylesheet" href="css/covid19api.css">
    {{!-- <script src="js/covid_api.js" defer></script> --}}
</head>
<body>
    {{>header}}
    <div class="covid__chart">
        <table>
            <th>UPDATED TIME</th>
            <th>TOTAL CASES</th>
            <th>ACTIVE CASES</th>
            <th>RECOVERED CASES</th>
            <th>TOTAL DEATHS</th>
            <th>RECOVERY RATE</th>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
            <tr><td> prince </td></tr>
        </table>
    </div>
    
</body>
</html>