<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>covid-19</title>
    <link rel="stylesheet" href="css/covid19api.css">
    {{!-- <script src="js/covid_api.js" defer></script> --}}
</head>
<body>
    {{>header}}
    <div class="covid__chart">
        <table class="covid__table">
           <tr>
               <th>STATE</th>
               <th>CASES</th>
               <th>LAST UPDATED</th>
               <th>RECOVERED</th>
               <th>DEATHS</th>
               <th>Active Case</th>
           </tr>
           <tr>
               <td>RAJASTHAN</td>
               <td>25000</td>
               <td>51351</td>
               <td>21.2</td>
               <td>5535</td>
               <td>1323</td>
           </tr>
           <tr>
               <td>DELHI</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>UP</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>BIHAR</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>GOA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>TAMIL NADU</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>MAHARASTRA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>KERELA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>PUNJAB</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>TELENGANA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>ASSAM</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>ANDRA PRADESH</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>MP</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>ODISA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>J&K</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>HARYANA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>HIMACHAL PRADESH</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>JHARKHAND</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>NAGALAND</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>KARNATAKA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>MANIPUR</td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
           </tr>
           <tr>
               <td>ARUNANCHAL PRADESH</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>TRIPURA</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>SHATTISGARH</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>UTTARAKHAND</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>
           <tr>
               <td>SIKKIM</td>
               <td>35000</td>
               <td>12:00 AM</td>
               <td>12000</td>
               <td>1212</td>
               <td>.8</td>
           </tr>

        </table>
    </div>
    
</body>
</html>