<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>health care</title>
    <link rel="stylesheet" href="css/health_care.css">
    <script src="js/health_care.js" defer></script>
</head>

<body>
  {{>header}}
 {{!-- tips sections --}}
 <div class="heading__tips">
    <h2>Having A Concern About Your Health</h2>
 </div>
 <div class="Tips__container">
      
 </div>

</body>

</html>