<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeoPathy</title>
    <link rel="stylesheet" href="css/HomeoPathy.css">
</head>
<body>
    {{>header}}
    <div class="heading__homeo">
       <h3>HomeoPathy</h3>
          <p>
         Homeopathy or homoeopathy is a pseudoscientific system of alternative medicine. It was conceived in 1796 by the German physician Samuel Hahnemann. Its practitioners, called homeopaths, believe that a substance that causes symptoms of a disease in healthy people can cure similar symptoms in sick people; this doctrine is called similia similibus curentur, or "like cures like". Homeopathic preparations are termed remedies and are made using homeopathic dilution. In this process, the selected substance is repeatedly diluted until the final product is chemically indistinguishable from the diluent. Often not even a single molecule of the original substance can be expected to remain in the product. Between each dilution homeopaths may hit and/or shake the product, claiming this makes the diluent remember the original substance after its removal. Practitioners claim that such preparations, upon oral intake, can treat or cure disease.
          </p>
     
          <p>
         Homeopathy achieved its greatest popularity in the 19th century. It was introduced to the United States in 1825 with the first homeopathic school opening in 1835. Throughout the 19th century, dozens of homeopathic institutions appeared in Europe and the United States. During this period, homeopathy was able to appear relatively successful, as other forms of treatment could be harmful and ineffective. By the end of the century the practice began to wane, with the last exclusively homeopathic medical school in the US closing in 1920. During the 1970s, homeopathy made a significant comeback, with sales of some homeopathic products increasing tenfold. The trend corresponded with the rise of the New Age movement, and may be in part due to an irrational preference for "natural" products, and the longer consultation times homeopathic practitioners provided.
          </p>
          
          <p>
         All relevant scientific knowledge about physics, chemistry, biochemistry and biology gained since at least the mid-19th century contradicts homeopathy. Homeopathic remedies are biochemically inert, and have no effect on any known disease. Hahnemann's theory of disease, centered around principles he termed miasms, is inconsistent with subsequent identification of viruses and bacteria as causes of disease. Clinical trials have been conducted and generally demonstrated no objective effect from homeopathic preparations. The fundamental implausibility of homeopathy as well as a lack of demonstrable effectiveness has led to it being characterized within the scientific and medical communities as quackery and fraud.
          </p>
     
     </div>
   <div class="history">
       <h3>History Of HomeoPathy</h3>
       <p>
           Homeopathy, the longest established alternative medicine to come out of Europe, was created in 1796 by Samuel Hahnemann. Hahnemann rejected the mainstream medicine of the late 18th century as irrational and inadvisable because it was largely ineffective and often harmful. He advocated the use of single drugs at lower doses and promoted an immaterial, vitalistic view of how living organisms function. The term homeopathy was coined by Hahnemann and first appeared in print in 1807. He also coined the expression "allopathic medicine", which was used to pejoratively refer to traditional Western medicine.
       </p>
   </div>

</body>
</html>