<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hygiene</title>
    <link rel="stylesheet" href="css/Hygiene.css">
</head>
<body>
    {{>header}}
          <div class="header__hygiene">
              <h1>Hygiene</h1>  
            <img src="hygiene/good_hygiene.jpg" alt="good_hygiene">  
       <div class="para">          
<p>Hygiene is a series of practices performed to preserve health. According to the World Health Organization (WHO), "Hygiene refers to conditions and practices that help to maintain health and prevent the spread of diseases." Personal hygiene refers to maintaining the body's cleanliness. Hygiene activities can be grouped into the following: home and everyday hygiene, personal hygiene, medical hygiene, sleep hygiene and food hygiene. Home and every day hygiene includes hand washing, respiratory hygiene, food hygiene at home, hygiene in the kitchen, hygiene in the bathroom, laundry hygiene and medical hygiene at home.</p>
<p>Many people equate hygiene with 'cleanliness,' but hygiene is a broad term. It includes such personal habit choices as how frequently to take a shower or bath, wash hands, trim fingernails, and wash clothes. It also includes attention to keeping surfaces in the home and workplace clean, including bathroom facilities. Some regular hygiene practices may be considered good habits by the society, while the neglect of hygiene can be considered disgusting, disrespectful, or threatening.</p>
    </div>
</div>
    <div class="grid__hygiene">
            
            <div class="card">
              <h2>Medical hygiene at home</h2>   
                <img src="" alt="" srcset="">
             <p>   Medical hygiene pertains to the hygiene practices that prevents or minimizes disease and the spreading of disease in relation to administering medical care to those who are infected or who are more "at risk" of infection in the home. Across the world, governments are increasingly under pressure to fund the level of healthcare that people expect. Care of increasing numbers of patients in the community, including at home is one answer, but can be fatally undermined by inadequate infection control in the home. Increasingly, all of these "at-risk" groups are cared for at home by a carer who may be a household member who thus requires a good knowledge of hygiene. People with reduced immunity to infection, who are looked after at home, make up an increasing proportion of the population (currently up to 20%). The largest proportion are the elderly who have co-morbidities, which reduce their immunity to infection. It also includes the very young, patients discharged from hospital, taking immuno-suppressive drugs or using invasive systems, etc. For patients discharged from hospital, or being treated at home special "medical hygiene" (see above) procedures may need to be performed for the. </p>
           </div>


 <div class="card">           
             <h2>Respiratory hygiene</h2>   
      <img src="hygiene/Pumpuents.jpg" alt="" class="hygienePic">
            <p>Correct respiratory and hand hygiene when coughing and sneezing reduces the spread of pathogens particularly during the cold and flu season.</p>
<div class="note">
<p>Carry tissues and use them to catch coughs and sneezes, or sneeze into your elbow</p> 
<p>Dispose of tissues as soon as possible</p> 
 </div>       
             <div class="note">   
               <p>Hygiene in the kitchen, bathroom and toilet</p> 
              <p>Routine cleaning of hands, food, sites and surfaces (such as toilet seats and flush handles, door and tap handles, work surfaces, bath and basin surfaces) in the kitchen, bathroom and toilet rooms reduces the spread of pathogens.[20] The infection risk from flush toilets is not high, provided they are properly maintained, although some splashing and aerosol formation can occur during flushing, particularly when someone has diarrhea. Pathogens can survive in the scum or scale left behind on baths, showers, and washbasins after washing and bathing.</p>
               </div>
<p>Thorough cleaning is important in preventing the spread of fungal infections. Molds can live on wall and floor tiles and on shower curtains. Mold can be responsible for infections, cause allergic responses, deteriorate/damage surfaces, and cause unpleasant odors. Primary sites of fungal growth are inanimate surfaces, including carpets and soft furnishings. Air-borne fungi are usually associated with damp conditions, poor ventilation, or closed air systems.</p> 
</div>
        <div class="card">
      <h2>Home and everyday hygiene</h2>   
            <img src="hygiene/handwash.jpg" alt="hygienePic" class="hygienePic">
             <p>Home hygiene pertains to the hygiene practices that prevent or minimize the spread of disease at home and other everyday settings such as social settings, public transport, the workplace, public places, etc.</p>
<p>Hygiene in a variety of settings plays an important role in preventing the spread of infectious diseases.[9] It includes procedures used in a variety of domestic situations such as hand hygiene, respiratory hygiene, food and water hygiene, general home hygiene (hygiene of environmental sites and surfaces), care of domestic animals, and home health care (the care of those who are at greater risk of infection).</p>  
      </div>
         <div class="card">
            <h2>Laundry hygiene</h2>    
           <img src="" alt="" srcset="">
            <p>Laundry hygiene involves practices that prevent disease and its spread via soiled clothing and household linens such as towels. Items most likely to be contaminated with pathogens are those that come into direct contact with the body, e.g., underwear, personal towels, facecloths, nappies. Cloths or other fabric items used during food preparation, or for cleaning the toilet or cleaning up material such as feces or vomit are a particular risk.</p>
             <p>Infectious diseases risks from contaminated clothing etc. can increase significantly under certain conditions, e.g., in healthcare situations in hospitals, care homes and the domestic setting where someone has diarrhoea, vomiting, or a skin or wound infection. It increases in circumstances where someone has reduced immunity to infection</p>
            
         </div>
</div>
</body>
</html>