<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hygiene</title>
    <link rel="stylesheet" href="css/Hygiene.css">
</head>
<body>
    {{>header}}
      <div class="cards">
        <div class="card card1">
            <img src="hygiene/good_hygiene.jpg" alt="good_hygiene" class="hygienePic">
            <span class="heading">
                Hygiene
            </span>
            <div class="text">
            Hygiene is a series of practices performed to preserve health. According to the World Health Organization (WHO), "Hygiene refers to conditions and practices that help to maintain health and prevent the spread of diseases."[2] Personal hygiene refers to maintaining the body's cleanliness. Hygiene activities can be grouped into the following: home and everyday hygiene, personal hygiene, medical hygiene, sleep hygiene and food hygiene. Home and every day hygiene includes hand washing, respiratory hygiene, food hygiene at home, hygiene in the kitchen, hygiene in the bathroom, laundry hygiene and medical hygiene at home.

Many people equate hygiene with 'cleanliness,' but hygiene is a broad term. It includes such personal habit choices as how frequently to take a shower or bath, wash hands, trim fingernails, and wash clothes. It also includes attention to keeping surfaces in the home and workplace clean, including bathroom facilities. Some regular hygiene practices may be considered good habits by the society, while the neglect of hygiene can be considered disgusting, disrespectful, or threatening.
</div>
        </div>
        <div class="card card2">
            <img src="hygiene/handwash.jpg" alt="hygienePic" class="hygienePic">
            <span class="heading">Home and everyday hygiene</span>
            <div class="text">
                Home hygiene pertains to the hygiene practices that prevent or minimize the spread of disease at home and other everyday settings such as social settings, public transport, the workplace, public places, etc.

Hygiene in a variety of settings plays an important role in preventing the spread of infectious diseases.[9] It includes procedures used in a variety of domestic situations such as hand hygiene, respiratory hygiene, food and water hygiene, general home hygiene (hygiene of environmental sites and surfaces), care of domestic animals, and home health care (the care of those who are at greater risk of infection).
            </div>
        </div>
        <div class="card card3">
            <img src="hygiene/Pumpuents.jpg" alt="" class="hygienePic">
            <span class="heading">
                Respiratory hygiene
            </span>
            <div class="text">
                Correct respiratory and hand hygiene when coughing and sneezing reduces the spread of pathogens particularly during the cold and flu season.[9]

Carry tissues and use them to catch coughs and sneezes, or sneeze into your elbow
Dispose of tissues as soon as possible
            </div>
        </div>
        <div class="card card4">
            <span class="heading">
                Hygiene in the kitchen, bathroom and toilet
            </span>
            <div class="text">
                Routine cleaning of hands, food, sites and surfaces (such as toilet seats and flush handles, door and tap handles, work surfaces, bath and basin surfaces) in the kitchen, bathroom and toilet rooms reduces the spread of pathogens.[20] The infection risk from flush toilets is not high, provided they are properly maintained, although some splashing and aerosol formation can occur during flushing, particularly when someone has diarrhea. Pathogens can survive in the scum or scale left behind on baths, showers, and washbasins after washing and bathing.

Thorough cleaning is important in preventing the spread of fungal infections. Molds can live on wall and floor tiles and on shower curtains. Mold can be responsible for infections, cause allergic responses, deteriorate/damage surfaces, and cause unpleasant odors. Primary sites of fungal growth are inanimate surfaces, including carpets and soft furnishings.[21] Air-borne fungi are usually associated with damp conditions, poor ventilation, or closed air systems.
            </div>
        </div>
        <div class="card car5">
            <span class="heading">
                Laundry hygiene
            </span>
            <div class="text">
                Laundry hygiene involves practices that prevent disease and its spread via soiled clothing and household linens such as towels.[22] Items most likely to be contaminated with pathogens are those that come into direct contact with the body, e.g., underwear, personal towels, facecloths, nappies. Cloths or other fabric items used during food preparation, or for cleaning the toilet or cleaning up material such as feces or vomit are a particular risk.
                Infectious diseases risks from contaminated clothing etc. can increase significantly under certain conditions, e.g., in healthcare situations in hospitals, care homes and the domestic setting where someone has diarrhoea, vomiting, or a skin or wound infection. It increases in circumstances where someone has reduced immunity to infection
            </div>
        </div>
        <div class="card car6">
            <span class="heading">
                Medical hygiene at home
            </span>
            <div class="text">
                Medical hygiene pertains to the hygiene practices that prevents or minimizes disease and the spreading of disease in relation to administering medical care to those who are infected or who are more "at risk" of infection in the home. Across the world, governments are increasingly under pressure to fund the level of healthcare that people expect. Care of increasing numbers of patients in the community, including at home is one answer, but can be fatally undermined by inadequate infection control in the home. Increasingly, all of these "at-risk" groups are cared for at home by a carer who may be a household member who thus requires a good knowledge of hygiene. People with reduced immunity to infection, who are looked after at home, make up an increasing proportion of the population (currently up to 20%).[9] The largest proportion are the elderly who have co-morbidities, which reduce their immunity to infection. It also includes the very young, patients discharged from hospital, taking immuno-suppressive drugs or using invasive systems, etc. For patients discharged from hospital, or being treated at home special "medical hygiene" (see above) procedures may need to be performed for them
            </div>
        </div>
    </div>

     {{!-- 
     What is personal hygiene?
Good personal hygiene is one of the best ways to protect yourself from getting gastro or infectious diseases such as COVID-19, colds and flu. Washing your hands with soap removes germs that can make you ill. Maintaining good personal hygiene will also help prevent you from spreading diseases to other people.

Personal hygiene includes:

cleaning your body every day
washing your hands with soap after going to the toilet
brushing your teeth twice a day
covering your mouth and nose with a tissue (or your sleeve) when sneezing or coughing
washing your hands after handling pets and other animals
To slow the spread of COVID-19, you should:

wash your hands often with soap and water or alcohol-based hand sanitisers
avoid touching your eyes, nose and mouth
clean and disinfect surfaces you use often such as benchtops, desks and doorknobs
clean and disinfect objects you use often such as mobile phones, keys, wallets and work passes
increase the amount of fresh air by opening windows or changing air conditioning
Why is personal hygiene important?
Good hygiene is vital because it helps prevent you and your children from getting or spreading germs and infectious diseases. The germs that cause many diseases can be passed on through touching other people, getting faeces (poo) on your hands, handling contaminated food, or coming into contact with dirty surfaces or objects.

Conditions that you can develop if you have poor personal hygiene include:

COVID-19 and other infectious diseases
diarrhoea, especially gastroenteritis
respiratory infections, including colds and flu
staph infections
worm-related conditions, such as threadworms
scabies
trachoma, an eye infection which can lead to blindness
tinea or athlete’s foot
tooth decay
      --}}


      {{!-- 
      
      Hygiene for physical health
No one likes to be sick. You feel yuck. You can’t enjoy your normal activities. And you might not be able to work and earn income. Illness also costs the Australian economy billions in health expenditure and lost productivity.

Good personal and home hygiene help reduce the spread of infectious diseases such as colds, flu and gastro.

In Australia we have pretty good public hygiene measures, like safe water, removal of waste garbage and sewage. Improvements in living conditions have also played a huge part in decreasing infectious disease. Australian regulations also help ensure good hygiene practices in commercial establishments, as well as in manufacturing and agriculture.

       --}}

       {{!-- 
       Hygiene for mental health
The importance of good mental health cannot be underestimated. Good hygiene can help you feel good in your own skin, giving you confidence, assisting your social interactions and helping you be engaged and productive in all areas of life. Good hygiene also helps to make your home, and the public areas you visit, comfortable and welcoming environments.

Good hygiene would not be possible without high quality, effective hygiene products, as well as good hygiene practices.       
        --}}

       {{!-- 
       Pathogens can be spread via:
Water: Untreated or inadequately treated water is responsible for approximately 80% of all illnesses and deaths in the developing world.[iii]

Air: Aerosols from coughs and sneezes can travel on air currents and be inhaled.

Direct contact with bodily fluid: Droplets of blood, respiratory tract fluid (dispersed by coughs, sneezes or talking) or sexual contact can transmit pathogens.

Food: Eating contaminated food can cause ingestion of pathogens.

Inanimate objects (‘fomites’): Indirect transmission can occur via objects such as phones, surfaces, door knobs, writing utensils and medical equipment.

Vectors: Living organisms can transfer pathogens from one host to another, e.g. fleas pass microorganisms from the blood of one host to another as they bite
        --}}

        {{!-- 
        But your body is not defenceless!
Physical barriers such as skin, hair and mucus membranes help prevent foreign microorganisms from entering your body.

Your immune system can recognise and destroy foreign microorganisms.

Chemical defences such as saliva, sweat, tears, mucous and stomach acid can destroy microorganisms.

Resident flora (‘good’ bacteria) live in your body and help fight other microorganisms.

Coughing and sneezing expel microorganisms from your lungs.

Vaccinations provide protection from many infectious diseases.

However! These defences can fail if pathogens are too numerous or too potent. Or the body’s natural defences may be weak. For example, people who are very young, very old, undergoing chemotherapy or suffering from AIDS generally have weak immune systems. Broken skin can also allow pathogens to enter the body.

Good hygiene is important because it prevents pathogens from entering your body in the first place.

Effective hygiene practices and proper use of quality products are essential to maintain good standards of personal, home, public and industrial hygiene.
         --}}
       
        {{!-- 
        The ‘hygiene hypothesis’ was first proposed in 1989. It suggests that being too clean could be responsible for the observed increase in allergies and autoimmune diseases in developed countries over the last century. These disorders remain rare in developing nations, where life-threatening infectious diseases remain common.

Allergies occur when your immune system overreacts to allergens in the environment, or in certain foods (e.g. peanuts) and toxins (e.g. bee stings). Drugs can also trigger an allergic reaction. Symptoms range from mild swelling, watery eyes and sneezing to life-threatening anaphylaxis.

Proponents of the hygiene hypothesis believe that exposure to a variety of microorganisms early in life teaches the immune system how to react to foreign substances. The theory goes that when young children grow up in ‘sterile’ environments their exposure to harmless and beneficial microorganisms as well as to pathogens is reduced.
         --}}
     
     {{!-- 
     Supposing this hypothesis to be true, it still needs to be put in perspective.

As infectious disease expert Dr Michael Bell puts it, ‘Living more sanitarily may have increased asthma, but in terms of scale and impact, that’s tiny compared with the benefit of not dying from disease for lack of hygiene.’[viii]

Indeed, deaths from infectious diseases have declined by over 96% in the past century in Australia.[ix]

Common sense and moderation are needed. Practise and teach good personal hygiene, clean your home well – particularly areas like the bathroom and the kitchen – but don’t cloister children from all dirt. Use antibacterial cleaners in areas and situations where they are most needed, and of course the strictest infection control practices must still be followed in health care settings and food production facilities.     
      --}}



</body>
</html>