<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HyperTension</title>
    <link rel="stylesheet" href="css/HyperTension.css">
</head>
<body>
    {{>header}}

<div class="heading__BP">
    <h3> HYPERTENSION </h3>
</div>
<div class="keyfacts">
    <h2><u> Key Facts </u></h2>
    <br>
<p>
Hypertension  ̶  or elevated blood pressure  ̶  is a serious medical condition that significantly increases the risks of heart, brain, kidney and other diseases.
An estimated 1.28 billion adults aged 30-79 years worldwide have hypertension, most (two-thirds) living in low- and middle-income countries
An estimated 46% of adults with hypertension are unaware that they have the condition.
Less than half of adults (42%) with hypertension are diagnosed and treated.
Approximately 1 in 5 adults (21%) with hypertension have it under control.
Hypertension is a major cause of premature death worldwide.
One of the global targets for noncommunicable diseases is to reduce the prevalence of hypertension by 33% between 2010 and 2030.
</p>
</div>

<div class="content__BP">
    <h4>What is hypertension?</h4>
<p>

Blood pressure is the force exerted by circulating blood against the walls of the body’s arteries, the major blood vessels in the body. Hypertension is when blood pressure is too high.

Blood pressure is written as two numbers. The first (systolic) number represents the pressure in blood vessels when the heart contracts or beats. The second (diastolic) number represents the pressure in the vessels when the heart rests between beats.

Hypertension is diagnosed if, when it is measured on two different days, the systolic blood pressure readings on both days is ≥140 mmHg and/or the diastolic blood pressure readings on both days is ≥90 mmHg.

</p>

<h4>What are the risk factors for hypertension?</h4>

<p>
Modifiable risk factors include unhealthy diets (excessive salt consumption, a diet high in saturated fat and trans fats, low intake of fruits and vegetables), physical inactivity, consumption of tobacco and alcohol, and being overweight or obese.
Non-modifiable risk factors include a family history of hypertension, age over 65 years and co-existing diseases such as diabetes or kidney disease.
</p>

<h4>What are common symptoms of hypertension?</h4>

<p>
Hypertension is called a "silent killer". Most people with hypertension are unaware of the problem because it may have no warning signs or symptoms. For this reason, it is essential that blood pressure is measured regularly.

When symptoms do occur, they can include early morning headaches, nosebleeds, irregular heart rhythms, vision changes, and buzzing in the ears. Severe hypertension can cause fatigue, nausea, vomiting, confusion, anxiety, chest pain, and muscle tremors.

The only way to detect hypertension is to have a health professional measure blood pressure. Having blood pressure measured is quick and painless. Although individuals can measure their own blood pressure using automated devices, an evaluation by a health professional is important for assessment of risk and associated conditions.
</p>

<h4>What are the complications of uncontrolled hypertension?</h4>

<p>
Among other complications, hypertension can cause serious damage to the heart. Excessive pressure can harden arteries, decreasing the flow of blood and oxygen to the heart. This elevated pressure and reduced blood flow can cause:
Chest pain, also called angina.
Heart attack, which occurs when the blood supply to the heart is blocked and heart muscle cells die from lack of oxygen. The longer the blood flow is blocked, the greater the damage to the heart.
Heart failure, which occurs when the heart cannot pump enough blood and oxygen to other vital body organs.
Irregular heart beat which can lead to a sudden death.
Hypertension can also burst or block arteries that supply blood and oxygen to the brain, causing a stroke.
</p>

<p>
In addition, hypertension can cause kidney damage, leading to kidney failure.
Why is hypertension an important issue in low- and middle-income countries?
The prevalence of hypertension varies across regions and country income groups. The WHO African Region has the highest prevalence of hypertension (27%) while the WHO Region of the Americas has the lowest prevalence of hypertension (18%).
</p>

<p>
The number of adults with hypertension increased from 594 million in 1975 to 1.13 billion in 2015, with the increase seen largely in low- and middle-income countries. This increase is due mainly to a rise in hypertension risk factors in those populations.
</p>

<h4>How can the burden of hypertension be reduced?</h4>
<p>
Reducing hypertension prevents heart attack, stroke, and kidney damage, as well as other health problems.
</p>
</div>


<div class="preventions__BP">
    <h3>Prevention</h3>
    <ul class="prevention_list">
        <li>Reducing salt intake (to less than 5g daily).</li>
        <li>Eating more fruit and vegetables.</li>
        <li>Being physically active on a regular basis.</li>
        <li>Avoiding use of tobacco.</li>
        <li>Reducing alcohol consumption.</li>
        <li>Limiting the intake of foods high in saturated fats.</li>
        <li>Eliminating/reducing trans fats in diet.</li>
    </ul>
    
    <h3>Management</h3>
    <ul>
        <li>Reducing and managing stress.</li>
        <li>Regularly checking blood pressure.</li>
        <li>Treating high blood pressure.</li>
        <li>Managing other medical conditions.</li>
    </ul>
  

    </div>
</div>
    <div class="who__responce">
        <h1>What is the WHO response?</h1>
        <p>
           The World Health Organization (WHO) is supporting countries to reduce hypertension as a public health problem.
           In 2021, the WHO released a new guideline for on the pharmacological treatment of hypertension in adults. The publication provides evidence-based recommendations for the initiation of treatment of hypertension, and recommended intervals for follow-up. The document also includes target blood pressure to be achieved for control, and information on who, in the health-care system, can initiate treatment.
           To support governments in strengthening the prevention and control of cardiovascular disease, WHO and the United States Centers for Disease Control and Prevention (U.S. CDC) launched the Global Hearts Initiative in September 2016, which includes the HEARTS technical package. The six modules of the HEARTS technical package (Healthy-lifestyle counselling, Evidence-based treatment protocols, Access to essential medicines and technology, Risk-based management, Team-based care, and Systems for monitoring) provide a strategic approach to improve cardiovascular health in countries across the world.
           In September 2017, WHO began a partnership with Resolve to Save Lives, an initiative of Vital Strategies, to support national governments to implement the Global Hearts Initiative. Other partners contributing to the Global Hearts Initiative are: the CDC Foundation, the Global Health Advocacy Incubator, the Johns Hopkins Bloomberg School of Public Health, the Pan American Health Organization (PAHO) and the U.S. CDC. Since implementation of the programme in 2017 in 18 low- and middle-income countries, 3 million people have been put on protocol-based hypertension treatment through person-centred models of care. These programmes demonstrate the feasibility and effectiveness of standardized hypertension control programmes.
        </p>

</body>
</html>