<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>health related page </title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
{{>header}}
{{!--  middle sections for only designing --}}
 <div class="container__one">
    <div class="writting">
        <h2> Health Is Wealth</h2>
        <h3>Focus On Your Health</h3>
        <p> 
            health is wealth and take care of your health in this critical conditions
        </p>

    </div>
     <img src="logos/life__routine.jpeg" alt="" class="photo">
 </div>
   
   <div class="container__two">
       <div class="other__links">
           
       </div>
   </div>

{{!-- Other Links Section --}}
<div class="Links__Cards">
    <div class="links__wrapper">
        <div class="card">
           <a href="/mental"><img src="./logos/mental__health__logo.png" alt="" width="270px" height="350px" class="logo__image"></a>
            <a href="/mental">Mental Health</a>
        </div>
         <div class="card">
            <a href="/routine"><img src="./logos/life__routine__logo.jpeg" alt="" width="270px" height="350px" class="logo__image"></a> 
            <a href="/routine">Daily Life Routine </a>
        </div>
         <div class="card">
          <a href="/yoga"><img src="./logos/yoga__logo__one.jpg" alt="" width="270px" height="350px" class="logo__image"></a>  
            <a href="/yoga">Yogasans</a>
        </div>
         <div class="card">
          <a href="/mental"><img src="./logos/mind__health.jpg" alt="" width="270px" height="350px" class="logo__image"></a>   
           <a href="/mental">Mind Health </a>
        </div>
        <div class="card">
            <a href="/Ayurved"><img src="./logos/Ayueveda.jpg" alt="" width="270px" height="350px" class="logo__image"></a>
            <a href="/Ayurved">Ayurveda</a>
        </div>

        <div class="card">
            <a href="/SkinCares"><img src="./logos/skin__cares.jpg" alt="" width="270px" height="350px" class="logo__image"></a>
            <a href="/SkinCares">Skin Cares</a>
        </div>
 
        <div class="card">
          <a href="/HyperTension"><img src="./logos/hyperTension.jpg" alt="" width="270px" height="350px" class="logo__image"></a>  
            <a href="/HyperTension">HyperTension</a>
        </div>
        
        <div class="card">
           <a href="/SugarRemedies"><img src="./logos/sugar__remedies.jpg" alt="" width="270px" height="350px" class="logo__image"></a> 
            <a href="/SugarRemedies">Sugar Remedies</a>  
        </div>
        
        <div class="card">
           <a href="/NutritionDiet"><img src="./logos/Nutrition__Diet.jpg" alt="" width="270px" height="350px" class="logo__image"></a> 
            <a href="/NutritionDiet">Nutritional Diet Plan</a>
        </div>
        
        <div class="card">
            <a href="/Homeopathy"><img src="./logos/Homeopathy.jpg" alt="" width="270px" height="350px" class="logo__image"></a>
            <a href="/Homeopathy">HomeoPathy</a>
        </div>
        
        <div class="card">
           <a href="/CoronaSymtomes"><img src="./logos/Corona__Symtomes.jpg" alt="" width="270px" height="350px" class="logo__image"></a> 
            <a href="/CoronaSymtomes">Corona Symtomes</a>
        </div>
        
        <div class="card">
           <a href="/hygine"><img src="./logos/Hygiene.jpg" alt="" width="270px" height="350px" class="logo__image"></a> 
            <a href="/hygine">Hygiene</a>
        </div>
    </div>
</div>

</body>

</html>