<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>health care</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
  {{>header}}
    <form action="" method="post">
         <h1>form filling</h1>
        <ul>
        <li><label for="fname">firstname:</label> <input type="text" id="fname" maxlength="40" placeholder="firstname"></li>
        <li><label for="lname">lastname: </label> <input type="text" id="lname" maxlength="100" placeholder="lastname"></li>
        <li><label for="age">age:      </label> <input type="number" id="age" maxlength="40" placeholder="age"></li> 
        <li>
            <label for="gender">gender:   </label> <input type="radio" id="gender" maxlength="40" placeholder="gender" value="gender">
        </li>
        <li><label for="address">address:  </label> <input type="text" id="address" maxlength="40" placeholder="address"></li>
        <li><label for="pincode">pincoode: </label> <input type="number" id="pincode" maxlength="40" placeholder="pincode"></li>
        <li><label for="email">email:</label> <input type="email" id="email" maxlength="40" placeholder="email id"></li>
        <li><label for="password">password:</label> <input type="password" id="password" maxlength="40" placeholder="password"></li>
        <li><label for="Cpassword">confirm password:</label> <input type="password" id="Cpassword" maxlength="40" placeholder="confirm password"></li>
        <li><label for="site">your views on this site:</label> <input type="text" id="site" maxlength="40" placeholder="say somthing about this site"></li>
        </ul>
    </form>
     
</body>

</html>