<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutritional Diet</title>
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" href="css/NutritionDiet.css">
</head>
<body>
    {{>header}}
 
    <div class="flickity">
<div class="carousel" data-flickity='{ "autoPlay": true }'>
  <div class="carousel-cell"><img src="nutrition/1image.jpg" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="nutrition/almonds-1740176__340.webp" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="nutrition/istockphoto-1208790371-612x612.jpg" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="nutrition/istockphoto-1138147384-612x612.jpg" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="nutrition/istockphoto-854725372-612x612.jpg" alt="" srcset=""></div>
</div>
      </div>
    <div class="box">
        <div class="side">
            <span class="heading">
                Health
            </span>
            <div class="text">
                    A particular diet may be chosen to promote weight loss or weight gain. Changing a subject's dietary intake, or "going on a diet", can change the energy balance and increase or decrease the amount of fat stored by the body. The terms "healthy diet" and "diet for weight management" (dieting) are often related, as the two promote healthy weight management. If a person is overweight or obese, changing to a diet and lifestyle that allows them to burn more calories than they consume may improve their overall health, possibly preventing diseases that are attributed in part to weight, including heart disease and diabetes. Conversely, if a person is underweight due to illness or malnutrition, they may change their diet to promote weight gain. Intentional changes in weight, though often beneficial, can be potentially harmful to the body if they occur too rapidly. Unintentional rapid weight change can be caused by the body's reaction to some medications, or may be a sign of major medical problems including thyroid issues and cancer among other diseases.
           </div>
    </div>
        <div class="cards">
            <div class="card">
                <span class="heading">
                    Dietary choices
                </span>
                <div class="text">
                    Many do not eat food from animal sources to varying degrees (e.g. flexitarianism, pescetarianism, vegetarianism, veganism) for health reasons, issues surrounding morality, or to reduce their personal impact on the environment, although some[which?] of the public assumptions about which diets have lower impacts are known to be incorrect.[needs update] Out of the above diets, veganism is the most selective. People on a balanced vegan diet can get all necessary nutrients, but may need to specifically focus on consumption of nutrients like protein, iron, calcium, zinc, and vitamin B12.
                </div>
            </div>
            <div class="card">
                <span class="heading">
                    Weight management
                </span>
                <div class="text">
A healthy diet can improve and maintain optimal health. In developed countries, affluence enables unconstrained caloric intake and possibly inappropriate food choices.

Health agencies recommend that people maintain a normal weight by limiting consumption of energy-dense foods and sugary drinks, eating plant-based food, limiting consumption of red and processed meat, and limiting alcohol intake.

The Dietary Guidelines for Americans is an evidence-based information source that policy makers and health professionals use to advise the general public about healthy nutrition.

                </div>
            </div>
            <div class="card">
                <span class="heading">Religious and cultural dietary choices</span>
                <div class="text">
                    Some cultures and religions have restrictions concerning what foods are acceptable in their diet. For example, only Kosher foods are permitted in Judaism, and Halal foods in Islam. Although Buddhists are generally vegetarians, the practice varies and meat-eating may be permitted depending on the sects. In Hinduism, vegetarianism is the ideal. Jains are strictly vegetarian and in addition to that the consumption of any roots (ex: potatoes, carrots) is not permitted.

In Christianity there is no restriction on kinds of animals that can be eaten, Various groups within Christianity have practiced specific dietary restrictions for various reasons. The most common diets used by Christians are Mediterranean and Vegetarianism
                </div>
            </div>
        </div>
    </div>
   <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> 
   {{!-- 

   Eating a balanced diet
Eating a healthy, balanced diet is an important part of maintaining good health, and can help you feel your best.

This means eating a wide variety of foods in the right proportions, and consuming the right amount of food and drink to achieve and maintain a healthy body weight.

This page covers healthy eating advice for the general population.

People with special dietary needs or a medical condition should ask their doctor or a registered dietitian for advice.

Food groups in your diet
The Eatwell Guide shows that to have a healthy, balanced diet, people should try to:

eat at least 5 portions of a variety of fruit and vegetables every day (see 5 A Day)
base meals on higher fibre starchy foods like potatoes, bread, rice or pasta
have some dairy or dairy alternatives (such as soya drinks)
eat some beans, pulses, fish, eggs, meat and other protein
choose unsaturated oils and spreads, and eat them in small amounts
drink plenty of fluids (at least 6 to 8 glasses a day)
If you're having foods and drinks that are high in fat, salt and sugar, have these less often and in small amounts.

Try to choose a variety of different foods from the 5 main food groups to get a wide range of nutrients.

Most people in the UK eat and drink too many calories, too much saturated fat, sugar and salt, and not enough fruit, vegetables, oily fish or fibre.

The Eatwell Guide does not apply to children under the age of 2 because they have different nutritional needs.

Between the ages of 2 and 5 years, children should gradually move to eating the same foods as the rest of the family in the proportions shown in the Eatwell Guide.

Fruit and vegetables: are you getting your 5 A Day?
Fruit and vegetables are a good source of vitamins and minerals and fibre, and should make up just over a third of the food you eat each day.

It's recommended that you eat at least 5 portions of a variety of fruit and vegetables every day. They can be fresh, frozen, canned, dried or juiced.

There's evidence that people who eat at least 5 portions of fruit and vegetables a day have a lower risk of heart disease, stroke and some cancers.

Eating 5 portions is not as hard as it sounds.

A portion is:

80g of fresh, canned or frozen fruit and vegetables
30g of dried fruit – which should be kept to mealtimes
150ml glass of fruit juice or smoothie – but do not have more than 1 portion a day as these drinks are sugary and can damage teeth
Just 1 apple, banana, pear or similar-sized fruit is 1 portion each.

A slice of pineapple or melon is also 1 portion, and 3 heaped tablespoons of vegetables is another portion.

Adding a tablespoon of dried fruit, such as raisins, to your morning cereal is an easy way to get 1 portion.

You could also swap your mid-morning biscuit for a banana, and add a side salad to your lunch. 

In the evening, have a portion of vegetables with dinner and fresh fruit with plain, lower fat yoghurt for dessert to reach your 5 A Day. 

Find out more about what counts towards your 5 A Day

Starchy foods in your diet
Starchy foods should make up just over a third of everything you eat. This means your meals should be based on these foods.

Choose wholegrain or wholemeal varieties of starchy foods, such as brown rice, wholewheat pasta, and brown, wholemeal or higher fibre white bread.

They contain more fibre, and usually more vitamins and minerals, than white varieties.

Potatoes with the skins on are a great source of fibre and vitamins. For example, when having boiled potatoes or a jacket potato, eat the skin too.

Find out more about starchy foods

Milk and dairy foods (and alternatives)
Milk and dairy foods, such as cheese and yoghurt, are good sources of protein. They also contain calcium, which helps keep your bones healthy.

Go for lower fat and lower sugar products where possible.

Choose semi-skimmed, 1% fat or skimmed milk, as well as lower fat hard cheeses or cottage cheese, and lower fat, lower sugar yoghurt.

Dairy alternatives, such as soya drinks, are also included in this food group.

When buying alternatives, choose unsweetened, calcium-fortified versions.

Find out more about milk and dairy foods

Beans, pulses, fish, eggs, meat and other proteins
These foods are all good sources of protein, which is essential for the body to grow and repair itself.

They're also good sources of a range of vitamins and minerals.

Meat is a good source of protein, vitamins and minerals, including iron, zinc and B vitamins. It's also one of the main sources of vitamin B12.

Choose lean cuts of meat and skinless poultry whenever possible to cut down on fat. Always cook meat thoroughly.

Try to eat less red and processed meat like bacon, ham and sausages.

Find out more about meat

Eggs and fish are also good sources of protein, and contain many vitamins and minerals. Oily fish is particularly rich in omega-3 fatty acids.

Aim to eat at least 2 portions of fish a week, including 1 portion of oily fish.

You can choose from fresh, frozen or canned, but remember that canned and smoked fish can often be high in salt.

Pulses, including beans, peas and lentils, are naturally very low in fat and high in fibre, protein, vitamins and minerals.

Nuts are high in fibre, and unsalted nuts make a good snack. But they do still contain high levels of fat, so eat them in moderation.

Read more about eggs and pulses and beans.

Oils and spreads
Some fat in the diet is essential, but on average people in the UK eat too much saturated fat.

It's important to get most of your fat from unsaturated oils and spreads.

Swapping to unsaturated fats can help lower cholesterol.

Remember that all types of fat are high in energy and should be eaten in small amounts.

Find out more about the different types of fats

Eat less saturated fat, sugar and salt
Too much saturated fat can increase the amount of cholesterol in the blood, which increases your risk of developing heart disease.

Regularly consuming foods and drinks high in sugar increases your risk of obesity and tooth decay.

Eating too much salt can raise your blood pressure, which increases your risk of getting heart disease or having a stroke.

See 8 tips for healthy eating to find out more about why you need to cut down on saturated fat, sugar and salt, which foods they're found in, and how to make healthier choices.

Find out more about how to eat less saturated fat

Need to lose weight?
Most adults in England are overweight or obese. Check whether you're a healthy weight using the BMI calculator.

If you need to lose weight, you can use the NHS weight loss plan. It's a free 12-week diet and exercise plan to help you lose weight and develop healthier habits.

The plan, which has been downloaded more than 2 million times, is designed to help you lose weight safely, and keep it off.


    --}}

    {{!-- 
    The 8 Best Diet Plans — Sustainability, Weight Loss, and More
It’s estimated that nearly half of American adults attempt to lose weight each year (1Trusted Source).

One of the best ways to lose weight is by changing your diet.

Yet, the sheer number of available diet plans may make it difficult to get started, as you’re unsure which one is most suitable, sustainable, and effective.

Some diets aim to curb your appetite to reduce your food intake, while others suggest restricting your intake of calories and either carbs or fat.

What’s more, many offer health benefits that go beyond weight loss.

Here are the 8 best diet plans to help you shed weight and improve your overall health.

1. Intermittent fasting
Intermittent fasting is a dietary strategy that cycles between periods of fasting and eating.

Various forms exist, including the 16/8 method, which involves limiting your calorie intake to 8 hours per day, and the 5:2 method, which restricts your daily calorie intake to 500–600 calories twice per week.

How it works: Intermittent fasting restricts the time you’re allowed to eat, which is a simple way to reduce your calorie intake. This can lead to weight loss — unless you compensate by eating too much food during allowed eating periods.

Weight loss: In a review of studies, intermittent fasting was shown to cause 3–8% weight loss over 3–24 weeks, which is a significantly greater percentage than other methods (2Trusted Source).

The same review showed that this way of eating may reduce waist circumference by 4–7%, which is a marker for harmful belly fat (2Trusted Source).

Other studies found that intermittent fasting can increase fat burning while preserving muscle mass, which can improve metabolism (3Trusted Source, 4Trusted Source).

Other benefits: Intermittent fasting has been linked to anti-aging effects, increased insulin sensitivity, improved brain health, reduced inflammation, and many other benefits (5Trusted Source, 6Trusted Source).

Downsides: In general, intermittent fasting is safe for most healthy adults.

That said, those sensitive to drops in their blood sugar levels, such as some people with diabetes, low weight, or an eating disorder, as well as pregnant or breastfeeding women, should talk to a health professional before starting intermittent fasting.

Summary Intermittent
fasting cycles between periods of fasting and eating. It has been shown to aid
weight loss and is linked to many other health benefits.


2. Plant-based diets
Plant-based diets may help you lose weight. Vegetarianism and veganism are the most popular versions, which restrict animal products for health, ethical, and environmental reasons.

However, more flexible plant-based diets also exist, such as the flexitarian diet, which is a plant-based diet that allows eating animal products in moderation.

How it works: There are many types of vegetarianism, but most involve eliminating all meat, poultry, and fish. Some vegetarians may likewise avoid eggs and dairy.

The vegan diet takes it a step further by restricting all animal products, as well as animal-derived products like dairy, gelatin, honey, whey, casein, and albumin.

There are no clear-cut rules for the flexitarian diet, as it’s a lifestyle change rather than a diet. It encourages eating mostly fruits, vegetables, legumes, and whole grains but allows for protein and animal products in moderation, making it a popular alternative.

Many of the restricted food groups are high in calories, so limiting them may aid weight loss.

Weight loss: Research shows that plant-based diets are effective for weight loss (7Trusted Source, 8Trusted Source, 9Trusted Source).

A review of 12 studies including 1,151 participants found that people on a plant-based diet lost an average of 4.4 pounds (2 kg) more than those who included animal products (10Trusted Source).

Plus, those following a vegan diet lost an average of 5.5 pounds (2.5 kg) more than people not eating a plant-based diet (10Trusted Source).

Plant-based diets likely aid weight loss because they tend to be rich in fiber, which can help you stay fuller for longer, and low in high-calorie fat (11Trusted Source, 12Trusted Source, 13Trusted Source).

Other benefits: Plant-based diets have been linked to many other benefits, such as a reduced risk of chronic conditions like heart disease, certain cancers, and diabetes. They can also be more environmentally sustainable than meat-based diets (14Trusted Source, 15Trusted Source, 16Trusted Source, 17Trusted Source).

Downsides: Though plant-based diets are healthy, they can restrict important nutrients that are typically found in animal products, such as iron, vitamin B12, vitamin D, calcium, zinc, and omega-3 fatty acids.

A flexitarian approach or proper supplementation can help account for these nutrients.

Summary Plant-based diets
restrict meat and animal products for various reasons. Studies show that they
aid weight loss by reducing your calorie intake and offer many other benefits.

3. Low-carb diets
Low-carb diets are among the most popular diets for weight loss. Examples include the Atkins diet, ketogenic (keto) diet, and low-carb, high-fat (LCHF) diet.

Some varieties reduce carbs more drastically than others. For instance, very-low-carb diets like the keto diet restrict this macronutrient to under 10% of total calories, compared with 30% or less for other types (18Trusted Source).

How it works: Low-carb diets restrict your carb intake in favor of protein and fat.

They’re typically higher in protein than low-fat diets, which is important, as protein can help curb your appetite, raise your metabolism, and conserve muscle mass (19Trusted Source, 20Trusted Source).

In very-low-carb diets like keto, your body begins using fatty acids rather than carbs for energy by converting them into ketones. This process is called ketosis (21Trusted Source).

Weight loss: Many studies indicate that low-carb diets can aid weight loss and may be more effective than conventional low-fat diets (22Trusted Source, 23Trusted Source, 24Trusted Source, 25Trusted Source).

For example, a review of 53 studies including 68,128 participants found that low-carb diets resulted in significantly more weight loss than low-fat diets (22Trusted Source).

What’s more, low-carb diets appear to be quite effective at burning harmful belly fat (26Trusted Source, 27Trusted Source, 28Trusted Source).

Other benefits: Research suggests that low-carb diets may reduce risk factors for heart disease, including high cholesterol and blood pressure levels. They may also improve blood sugar and insulin levels in people with type 2 diabetes (29Trusted Source, 30Trusted Source).

Downsides: In some cases, a low-carb diet may raise LDL (bad) cholesterol levels. Very-low-carb diets can also be difficult to follow and cause digestive upset in some people (31Trusted Source).

In very rare situations, following a very-low-carb diet may cause a condition known as ketoacidosis, a dangerous metabolic condition that can be fatal if left untreated (32Trusted Source, 33Trusted Source).

Summary Low-carb diets
restrict your carb intake, which encourages your body to use more fat as fuel.
They can help you lose weight and offer many other benefits.

4. The paleo diet
The paleo diet advocates eating the same foods that your hunter-gatherer ancestors allegedly ate.

It’s based on the theory that modern diseases are linked to the Western diet, as proponents believe that the human body hasn’t evolved to process legumes, grains, and dairy.

How it works: The paleo diet advocates eating whole foods, fruits, vegetables, lean meats, nuts, and seeds. It restricts the consumption of processed foods, grains, sugar, and dairy, though some less restrictive versions allow for some dairy products like cheese.

Weight loss: Numerous studies have shown that the paleo diet can aid weight loss and reduce harmful belly fat (34Trusted Source, 35Trusted Source, 36Trusted Source).

For example, in one 3-week study, 14 healthy adults following a paleo diet lost an average of 5.1 pounds (2.3 kg) and reduced their waist circumference — a marker for belly fat — by an average of 0.6 inches (1.5 cm) (37Trusted Source).

Research also suggests that the paleo diet may be more filling than popular diets like the Mediterranean diet and low-fat diets. This may be due to its high protein content (38Trusted Source, 39Trusted Source).

Other benefits: Following the paleo diet may reduce several heart disease risk factors, such as high blood pressure, cholesterol, and triglyceride levels (40Trusted Source, 41Trusted Source).

Downsides: Though the paleo diet is healthy, it restricts several nutritious food groups, including legumes, whole grains, and dairy.

Summary The paleo diet
advocates eating whole foods, similarly to how your ancestors ate. Studies show
that it may aid weight loss and reduce heart disease risk factors.

5. Low-fat diets
Like low-carb diets, low-fat diets have been popular for decades.

In general, a low-fat diet involves restricting your fat intake to 30% of your daily calories.

Some very- and ultra-low-fat diets aim to limit fat consumption to under 10% of calories (24Trusted Source).

How it works: Low-fat diets restrict fat intake because fat provides about twice the number of calories per gram, compared with the other two macronutrients — protein and carbs.

Ultra-low-fat diets contain fewer than 10% of calories from fat, with approximately 80% of calories coming from carbs and 10% from protein.

Ultra-low-fat diets are mainly plant-based and limit meat and animal products.

Weight loss: As low-fat diets restrict calorie intake, they can aid weight loss (42Trusted Source, 43Trusted Source, 44Trusted Source, 45Trusted Source).

An analysis of 33 studies including over 73,500 participants found that following a low-fat diet led to small but relevant changes in weight and waist circumference (42Trusted Source).

However, while low-fat diets appear to be as effective as low-carb diets for weight loss in controlled situations, low-carb diets seem to be more effective day to day (22Trusted Source, 46Trusted Source, 47Trusted Source).

Ultra-low-fat diets have been shown to be successful, especially among people with obesity. For example, an 8-week study in 56 participants found that eating a diet comprising 7–14% fat led to an average weight loss of 14.8 pounds (6.7 kg) (48Trusted Source).

Other benefits: Low-fat diets have been linked to a reduced risk of heart disease and stroke. They may also reduce inflammation and improve markers of diabetes (49Trusted Source, 50Trusted Source, 51Trusted Source).

Downsides: Restricting fat too much can lead to health problems in the long term, as fat plays a key role in hormone production, nutrient absorption, and cell health. Moreover, very-low-fat diets have been linked to a higher risk of metabolic syndrome (52Trusted Source).

Summary Low-fat diets
restrict your intake of fat, as this macronutrient is higher in calories than
protein and carbs. Studies have linked low-fat diets to weight loss and lower
risks of heart disease and diabetes.


6. The Mediterranean diet
The Mediterranean diet is based on foods that people in countries like Italy and Greece used to eat.

Though it was designed to lower heart disease risk, numerous studies indicate that it can also aid weight loss (53Trusted Source).

How it works: The Mediterranean diet advocates eating plenty of fruits, vegetables, nuts, seeds, legumes, tubers, whole grains, fish, seafood, and extra virgin olive oil.

Foods such as poultry, eggs, and dairy products are to be eaten in moderation. Meanwhile, red meats are limited.

Additionally, the Mediterranean diet restricts refined grains, trans fats, processed meats, added sugar, and other highly processed foods.

Weight loss: Though it’s not specifically a weight loss diet, many studies show that adopting a Mediterranean-style diet may aid weight loss (53Trusted Source, 54Trusted Source, 55Trusted Source).

For example, an analysis of 19 studies found that people who combined the Mediterranean diet with exercise or calorie restriction lost an average of 8.8 pounds (4 kg) more than those on a control diet (53Trusted Source).

Other benefits: The Mediterranean diet encourages eating plenty of antioxidant-rich foods, which may help combat inflammation and oxidative stress by neutralizing free radicals. It has been linked to reduced risks of heart disease and premature death (55Trusted Source, 56Trusted Source).

Downsides: As the Mediterranean diet is not strictly a weight loss diet, people may not lose weight following it unless they also consume fewer calories.

Summary The Mediterranean
diet emphasizes eating plenty of fruits, vegetables, fish, and healthy oils
while restricting refined and highly processed foods. While it’s not a weight
loss diet, studies show that it can promote weight loss and overall
health.

7. WW (Weight Watchers)
WW, formerly Weight Watchers, is one of the most popular weight loss programs worldwide.

While it doesn’t restrict any food groups, people on a WW plan must eat within their set daily points to reach their ideal weight (57Trusted Source).

How it works: WW is a points-based system that assigns different foods and beverages a value, depending on their calorie, fat, and fiber contents.

To reach your desired weight, you must stay within your daily point allowance.

Weight loss: Many studies show that the WW program can help you lose weight (58Trusted Source, 59Trusted Source, 60Trusted Source, 61Trusted Source).

For example, a review of 45 studies found that people who followed a WW diet lost 2.6% more weight than people who received standard counseling (62Trusted Source).

What’s more, people who follow WW programs have been shown to be more successful at maintaining weight loss after several years, compared with those who follow other diets (63Trusted Source, 64Trusted Source).

Other benefits: WW allows flexibility, making it easy to follow. This enables people with dietary restrictions, such as those with food allergies, to adhere to the plan.

Downsides: While it allows for flexibility, WW can be costly depending on the subscription plan. Also, it’s flexibility can be a downfall if dieters choose unhealthy foods.

Summary WW, or Weight
Watchers, is a weight loss program that uses a points-based system. Studies
show that it’s effective for long-term weight loss and highly
flexible.

8. The DASH diet
Dietary Approaches to Stop Hypertension, or DASH diet, is an eating plan that is designed to help treat or prevent high blood pressure, which is clinically known as hypertension.

It emphasizes eating plenty of fruits, vegetables, whole grains, and lean meats and is low in salt, red meat, added sugars, and fat.

While the DASH diet is not a weight loss diet, many people report losing weight on it.

How it works: The DASH diet recommends specific servings of different food groups. The number of servings you are allowed to eat depends on your daily calorie intake.

For example, an average person on the DASH diet would eat about 5 servings of vegetables, 5 servings of fruit, 7 servings of healthy carbs like whole grains, 2 servings of low-fat dairy products, and 2 servings or fewer of lean meats per day.

In addition, you’re allowed to eat nuts and seeds 2–3 times per week (65Trusted Source).

Weight loss: Studies show that the DASH diet can help you lose weight (66Trusted Source, 67Trusted Source, 68Trusted Source, 69Trusted Source).

For example, an analysis of 13 studies found that people on the DASH diet lost significantly more weight over 8–24 weeks than people on a control diet (70Trusted Source).

Other benefits: The DASH diet has been shown to reduce blood pressure levels and several heart disease risk factors. Also, it may help combat recurrent depressive symptoms and lower your risk of breast and colorectal cancer (71Trusted Source, 72Trusted Source, 73Trusted Source, 74Trusted Source, 75Trusted Source, 76Trusted Source).

Downsides: While the DASH diet may aid weight loss, there is mixed evidence on salt intake and blood pressure. In addition, eating too little salt has been linked to increased insulin resistance and an increased risk of death in people with heart failure (77Trusted Source, 78Trusted Source).
     --}}

</body>
</html>