<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="css/routine.css">
</head>

<body>
   {{>header}}
   <div class="container__routine__head head__routine">
    <p> 18 Reasons Why a Daily Routine Is So Important</p>
</div>
   <div class="container__routine__head">
    <p> All of us are aware that kids need a routine to provide structure and discipline in their lives. When we were younger, most of us were told to go to bed at a certain time, wake up at a certain time, do our homework after school, eat dinner at a regular
        hour, shower, even play with our friends at a specific time. But what about adults? Many grownups do not have a set daily routine and ‘wing’ their day. They have no idea what they are going to do when they wake up each morning because they have
        not thought about creating a schedule to adhere to. As a result, many people feel like they are stressed, anxious, overwhelmed and falling short of their goals and true potential. The answer lies in carefully designing a routine that works best
        for each of us, one which helps us be productive, in control, and be the best person we can possibly be. I used to view having a routine as being boring, rigid, and stifling, and I know that many people share this view. They live their lives in
        a capricious and whimsical manner, believing that it frees them somehow. On the contrary, I have learned that designing and adhering to a personal daily routine is the path to freedom, productivity, happiness, and fulfilling our true potential.
        Here is why all of us would be better off with a set routine</p>
</div>
    <div class="subheading">  
  <h2> 1. Makes Us More Efficient</h2>
   </div>
    <div class="container__routine">
            <img class="photo" src="images/wake up.jpg" alt=""> When we have a routine that we follow daily, it reduces the need to make decisions each day. It enables us to know exactly what tasks we need to do each day without having to contemplate,
            decide or think too much. When we are finished with one task, we know what comes next without much thought. Activities become standardized and we become more efficient as a result.

    </div>
      <div class="subheading">
    <h2>
        2. Reduces Our Need to Plan
    </h2>
    </div>

    <div class="container__routine">
        
            <img class="photo" src="images/save time.jpg" alt=""> When we carefully design a set routine to follow, it eliminates the need to plan our activities every morning and budget and allocate our precious time. It takes the guesswork out of
            our day and allows us to wake up and ‘do’ instead of wake up and ‘plan’.
        
    </div>

      <div class="subheading">
    <h2>
        3. Creates Structure in Our Lives
    </h2>
    </div>

    <div class="container__routine">
        
            <img class="photo" src="images/punchuality.jpg" alt=""> A daily routine provides structure and a logical sequence in our lives. It provides the framework within which we live our lives and conduct our daily activities. Soon we become familiar
            and comfortable with what we have to do each day. It allows us to experience a flow to our day.
        
    </div>

      <div class="subheading">
    <h2>
        4. Saves Time, Our Most Valuable Resource
    </h2>
      </div>

    <div class="container__routine">
            <img class="photo" src="images/save time.jpg" alt=""> Time is the most precious asset at our disposal because, once lost, it is non-retrievable. By following a routine, we free up time that would otherwise be spent on planning, decision-making
            and preparation. Our routine has predetermined our schedule, allowing us to use our time efficiently.

    </div>

    <div class="subheading">
    <h2>
        5. Instills Good Habits
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/download.jpg" alt=""> The secret to building good habits is repetition. When we design a personal routine that works for us, it facilitates developing good habits by encouraging us to repeat the same tasks
            over and over again. Just like brushing our teeth every morning, adhering to a routine allows us to foster habits that match our goals and aspirations.

    </div>

    <div class="subheading">
    <h2>
        6. Breaks Bad Habits
    </h2>
</div>

    <div class="container__routine">
            <img class="photo" src="images/bad habits.jpg" alt=""> While our routine helps us develop good habits that are in line with exploiting our full potential, it also helps to eradicate bad habits that do not serve us well. We can slowly replace
            our bad habits with good ones through repetition.

    </div>

    <div class="subheading">
    <h2>
        7. Helps Us Become More Proficient
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/efficient.jpg" alt=""> When you have a routine, you start to become better at doing certain things because you do it regularly. That is one of the keys to mastering any skill. Think about something you are
            skillful at. More likely than not, you developed your skill because you have performed the task over and over again. Practice makes perfect!

    </div>
    <div class="subheading">
    <h2>
        8. Helps Us Get the Most Important Tasks Done
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/to do list.jpg" alt=""> When we carefully design a personal routine and stick to it, it allows us get the most important things done first and out of the way. There is no room for forgetfulness or neglect.
            Because the most important tasks have been predetermined by us, as long as we follow our routine, we know that we will complete what is important and not spend time and effort on frivolous things.

    </div>

    <div class="subheading">
    <h2>
        9. Prioritization
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/priority.jpg" alt=""> The beauty of designing a set routine is that it forces us to prioritize and decide what is important to us. Rather than make these decisions on a daily basis, we already know what we
            need to do and in what order because we have carefully planned it. For example, after some soul-searching and careful introspection, I decided that being mindful and healthy were goals that I wanted to attain, so I incorporate meditation and
            exercise into my daily routine.

    </div>

    <div class="subheading">
    <h2>
        10. Reduces the Need for Determination and Willpower
    </h2>
   </div>

    <div class="container__routine">
            <img class="photo" src="images/stress free.jpg" alt=""> When we brush our teeth in the morning, it does not require a lot of determination or willpower because most of us have made it a daily ritual. We hardly think about having to brush
            our teeth; we simply do it. The same holds true for other tasks when we follow a routine. It simply becomes, well, ‘routine’!

    </div>
    <div class="subheading">
    <h2>
        11. Reduces Procrastination
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/daily routine.jpg" alt=""> When a set of tasks and activities become routine, it reduces the chance that we will procrastinate doing them. It becomes ingrained into our system and we almost do it subconsciously.
            For example, I do a few minutes of yoga every morning when I wake up. I do not have to think about it. I simply do it because it has become a habit. We all know that procrastination is a waste of time and having a routine is one way to combat
            it.

    </div>

    <div class="subheading">
    <h2>
        12. Builds Momentum
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/" alt=""> As we all know, when you do the same things repetitiously, it builds momentum, making it easier to persist. That is why going to the gym gets easier the more frequently you do it. Momentum is a huge
            factor when it comes to ensuring success and following a routine helps build that momentum.

    </div>

    <div class="subheading">
    <h2>
        13. Builds Self Confidence
    </h2>
    </div>
     
    <div class="container__routine">
            <img class="photo" src="images/self confidence.jpg" alt=""> When we adhere to a routine and stick with it, it helps build self confidence and gives us a sense of tremendous satisfaction. That provides us with the ‘fuel’ to continue our
            routine and reap the benefits associated with it. And a lack of self confidence is one of the main reasons people find it difficult to change their lives for the better.

    </div>

    <div class="subheading">
    <h2>
        14. Saves Us Money
    </h2>
     </div>

    <div class="container__routine">
            <img class="photo" src="images/saves money.jpg" alt=""> When we follow a routine and do the same things over and over again, it can help us save money. For example, part of my routine involves juicing fruits and vegetables each morning.
            Because I know that I will follow this routine religiously, I can buy my fruit and vegetables in bulk, saving me money. The same holds true for many other things such as the cost of a long-term gym membership.

    </div>

    <div class="subheading">
    <h2>
        15. Helps Reduce Stress and Facilitate Relaxation
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/personality.jpg" alt=""> There will always be things in our lives that are beyond our control, and we need to accept that. However, there is so much that we can control, especially if we follow a routine.
            When we design and stick to a routine, it eliminates a lot of stress because we do not have to think and worry about what needs to get done. The act of ‘doing’ gives us a sense of control and helps us relax instead of fretting about the tasks
            at hand.

    </div>

    <div class="subheading">
    <h2>
        16. Frees Up Our Time
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/save time.jpg" alt=""> Contrary to what some people believe, following a routine that prioritizes repetitive tasks actually provides us with more free time to do as we please. Not every aspect of our lives
            needs to be scheduled or incorporated into a daily routine. There is a time and place for leisure, relaxation, and ‘non-doing’, and adhering to a routine frees up the time for it. In fact, as we discussed before, our routine makes us become
            better and more efficient at performing certain tasks. This means that we often spend less time completing the tasks listed in our routine via repetition.

    </div>

   <div class="subheading">
    <h2>
        17. Helps Us Achieve Our Goals
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/achieve_goal.png" alt=""> Our goals and aspirations are rarely, if ever, achieved all at once. Successful people accomplish their goals by doing the same things over and over again. An athlete gets good at
            his sport because he practices daily. An artist hones his craft through repetition. Developing and sticking with a routine that is congruent with your goals is one of the surest ways to ensure success.

    </div>

    <div class="subheading">
    <h2>
        18. Keeping Track of Our Success
    </h2>
    </div>

    <div class="container__routine">
            <img class="photo" src="images/success.jpg" alt=""> When we slack off and fail to follow our predetermined routine, it is a clear sign that we are falling short. It is an excellent way to monitor our progress. We can subsequently make adjustments
            and get back to following our personal routines while having the confidence that we are on the right track again. Keep in mind that it is fine if you decide that you only want to follow your routine on weekdays and not on weekends, or if you
            have a different routine on Monday, Wednesday, and Friday, etc. It is also perfectly okay to set aside certain times to do nothing. The point is that you have thought about it carefully and are mindful about your choices. After all, having
            a routine is nothing other than a conscious choice to live your life in a certain way through healthy repetition. It is one of the keys to success and happiness. Each of us is different and has different goals, needs, desires, and resources.
            That is why it is important to develop our own routine after carefully deciding what we want to achieve in our lives. The rewards to be reaped are definitely worth the effort. Today is a brand new day and it is never too late to start your
            own routine.

    </div>
    <footer>
        <p>source :skilled at life | all rights reserved &copy;</p>
    </footer>

</body>

</html>