<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skin Cares</title>
    <link rel="stylesheet" href="css/Skin Cares.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
</head>
<body>
    {{>header}}
     
     <div class="container__SkinCares">
         <div class="heading__skinCares">
            <h2>A Guide to Taking Care of Your Skin</h2>
           
         </div>
        
         <div class="Heading__innerContent">
              <h4>Your skin type matters</h4>
            <br>
            <p>
                You may suspect you have dry, oily, or sensitive skin, 
                but do you really know your skin type? Knowing your true skin 
                type can help the next time you’re in the cosmetics aisle. In fact, 
                using the wrong products — or even popularized Internet hacks — for 
                your skin type could worsen acne, dryness, or other skin problems.
            </p>

         </div>
        
         <div class="main__heading">
              <h4>Building a daily skin care routine</h4>
              <br>
               <p>
               No matter what your skin type is, 
               a daily skin care routine can help you maintain overall 
               skin health and improve specific concerns like acne, 
               scarring, and dark spots. A daily skin care routine has 
               four basic steps you can do once in the morning and once 
               before you sleep.
               </p>
           </div>
    </div>
    
<div class="topics__skinCares">
       
 <div class="topics__scare">
<b style="color: black;">1. Cleansing :</b> Choose a cleanser that doesn’t leave your skin tight after washing. Clean your face no more than twice a day, or just once, if you have dry skin and don’t wear makeup. Avoid washing for that squeaky-clean feeling because that means your skin’s natural oils are gone. Cleansers known to work well for all skin types include Cetaphil and Banila Clean It Zero Sherbet Cleanser.
       <br>
       <br>
<b style="color: black;">2. Serums :</b> A serum with vitamin C or growth factors or peptides would be better in the morning, under sunscreen. At night, retinol or prescription retinoids work best. Makeup Artist’s Choice has an effective vitamin C and E serum and retinol available.
       <br>
       <br>
<b style="color: black;">3. Moisturizer :</b> Even oily skin needs moisturizer, but use one that is lightweight, gel-based, and non-comedogenic, or doesn’t block your pores, like CeraVe’s facial lotion. Dry skin may benefit from more cream-based moisturizers like MISSHA Super Aqua Cell Renew Snail Cream. Most brands will label their products as gel or cream on their packaging.
        <br>
        <br> 
<b style="color: black;">4. Sunscreen :</b> Apply sunscreen with at least 30 SPF 15 minutes before heading outdoors, as it takes a while for sunscreen to activate. Darker skin tones actually need more sun protection because hyperpigmentation is harder to correct. Try EltaMD’s sunscreen, which offers broad-spectrum UVA/UVB protection and is recommended by the Skin Cancer Foundation.
        <br>
        <br>
<div style="color: red;">
<b>NOTE:</b> Choose products that fit your skin type and sensitivity, and remember to read the labels. Some products, such as retinol or prescription retinoids, should only be applied at night.
    </div>
    </div> {{!-- Scares --}}
    <div class="flickity">
<div class="carousel" data-flickity='{ "autoPlay": true }'>
  <div class="carousel-cell"><img src="skin photos/cleansing.jpg" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="skin photos/Serum.jpg" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="skin photos/moisturiser.jpg" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="skin photos/sum screen.jpg" alt="" srcset=""></div>
  <div class="carousel-cell"><img src="skin photos/toxic-ingredients-in-skin-care.jpg" alt="" srcset=""></div>
</div>
    </div>
 </div> {{!-- topics__skinCares --}}
     
     <div class="all_skin_type">
         <h3> Some Daily Life Usage Tips </h3>
         <ul>
             <li>Stay hydrated.</li>
             <li>Change pillow cases at least once a week.</li>
             <li>Wash or wrap up hair before bed.</li>
             <li>Wear sunscreen every day and apply 15 minutes before going out.</li>
         </ul>
     </div> {{!-- all_skin_type --}}


     <div class="second__flickey">
    <div class="Avoid_Hacks">
        <h2 style="color: black;">Avoid these DIY hacks</h2>
        <br>
        <ul>
            <li>
           <p><b style="color: black;">Lemon juice:</b>It may have citric acidic, but it’s far too acidic and can cause dark spots to appear after sun exposure. It can also dry and irritate your skin.</p>
            </li>
           <br>
            <li>
<p> <b style="color: black;"> Garlic:</b> In raw form, garlic can cause skin allergies, eczema, skin inflammation, and watery blisters.</p>
            </li>
            <br>
            <li>
<p><b style="color: black;">Toothpaste:</b> The ingredients in toothpaste may kill germs and absorb oil, but they can also dry out or irritate your skin.</p>
            </li>
            <br>
            <li>
<p><b style="color: black;">Sugar:</b> As an exfoliant, sugar is too harsh for the skin on your face.</p>
            </li>
            <br>
            <li>
<p><b style="color: black;"> Vitamin E:</b> Topical application of vitamin E can irritate your skin and is not proven to improve scar appearance.</p>
            </li>
            <br>
            <li>
<p><b style="color: black;"> Baking soda:</b> At a pH level of 8, baking soda will stress your skin, significantly decreaseTrusted Source your skin’s water content, and cause dry skin.</p>
            </li>
        </ul>
         <br>
        <h5 style="color: rgba(255, 0, 0, 0.692);">NOTE:</h5>
        <p style="color: rgba(255, 0, 0, 0.692);">
            Some of these ingredients may be all natural and cost-effective, but they aren’t formulated for your skin. Even if you don’t feel immediate side effects, these ingredients can cause delayed or long-term damage. It’s best to use products formulated for your face. Talk to your doctor or dermatologist before trying DIY applications on your skin.
        </p>
    </div> {{!-- Avoid_Hacks --}}

    <div class="flickity">
<div class="carousel" data-flickity='{ "autoPlay": true }'>
  <div class="carousel-cell"> <img src="" alt="" srcset=""> </div>
  <div class="carousel-cell"> <img src="vegetables/lemon juice.jpg" alt="" srcset=""> </div>
  <div class="carousel-cell"> <img src="vegetables/Garlic-Side-Effect.jpg" alt="" srcset=""> </div>
  <div class="carousel-cell"> <img src="vegetables/sugar scrub.jpg" alt="" srcset=""> </div>
  <div class="carousel-cell"> <img src="vegetables/toothpaste on face.jpg" alt="" srcset=""> </div>
  <div class="carousel-cell"> <img src="vegetables/toothpaste on face.jpg" alt="" srcset=""> </div>
  <div class="carousel-cell"> <img src="vegetables/toothpaste on face.jpg" > </div>
    </div>
</div> {{!-- second flickey --}}
 </div>
    
    {{!-- SOlUTION TO TREAT SKIN SOLUTION --}}
  <div class="Skin__Problem"> 
   <h3>How to treat skin problems</h3>
  <p>
      There are ways to tackle skin problems without damaging your skin. Just remember the number one rule of skin care: Don’t pick! Picking at acne, blackheads, scabs, or other skin problems can cause open wounds or darker skin spots known as hyperpigmentation. Open wounds can lead to infections, more acne, or scars. The deeper the wound, the more likely your skin will scar.
  </p>
  
  <p>Here are some scientifically backed ways to treat problem areas.</p>
 
  </div>{{!-- Skin__Problem --}}
    
 <div class="problems">
     <div class="Diseases__card">
        <a href=""> <img src="skin photos/Acne Skin.jpg" alt=""></a>
      <h3>Acne</h3>
     <p>

     </p>
     </div>
    
    <div class="Diseases__card">
    <a href=""><img src="skin photos/Sebaceous Filaments.jpg" alt=""></a> 
       <h3>Sebaceous filaments</h3>
      
    </div>
    
    <div class="Diseases__card">
        <a href=""><img src="skin photos/Dark Circle.jpg" alt=""></a>
       <h3>DARK CIRCLES</h3>
       <p></p>
    </div>

    <div class="Diseases__card">
        <a href=""><img src="skin photos/Dark Spot.jpg" alt=""></a>
     <h3>DARK SPOTS</h3>
     <p></p>
    </div>

    <div class="Diseases__card">
        <a href=""><img src="skin photos/Eye Bags.jpg" alt=""></a>
        <h3>EYE BAGS</h3>
        <p></p>
    </div>

    <div class="Diseases__card">
       <a href=""><img src="skin photos/Dry Skin.jpg" alt=""></a> 
       <h3>DRY SKIN</h3>
       <p></p>
    </div>

    <div class="Diseases__card">
       <a href=""><img src="../../public/skin photos/" alt=""></a> 
      <h3>OILY SKIN</h3>
      <p></p>
    </div>

    <div class="Diseases__card">
        <a href=""><img src="skin photos/redness.jpg" alt=""></a>
      <h3>FACE REDNESS</h3>
      <p></p>
    </div>
    <div class="Diseases__card">
        <a href=""><img src="skin photos/dull-skin.jpg" alt=""></a>
      <h3>DULL SKIN</h3>
      <p></p>
    </div>

    <div class="Diseases__card">
        <a href=""><img src="skin photos/large_pores.jpg" alt=""></a>
      <h3>LARGE PORES</h3>
      <p></p>
    </div>

    <div class="Diseases__card">
        <a href=""><img src="skin photos/under eye wrinkles.jpg" alt=""></a>
     <h3>UNDER-EYE WRINKLES</h3>
     <p></p>
    </div>

    <div class="Diseases__card">
       <a href=""><img src="skin photos/harmonal acne.jpg" alt=""></a>
     <h3>HORMONAL ACNE</h3>
     <p></p>
    </div>

    <div class="Diseases__card">
        <a href=""><img src="skin photos/blackhead.jpg" alt=""></a>
      <h3>BLACKHEADS</h3>
      <p></p>
    </div>

    <div class="Diseases__card">
       <a href=""><img src="skin photos/Sebaceous_Filaments.jpg" alt=""></a> 
      <h3>SEBACEOUS FILAMENTS</h3>
      <p>

      </p>
    </div>

    <div class="Diseases__card">
        <a href=""><img src="skin photos/forehead wrinkles.jpg" alt=""></a>
     <h3>FOREHEAD WRINKLES</h3>
     <p>

     </p>
    </div>
     </div> {{!-- problems --}}
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>