<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sugar Remedies</title>
    <link rel="stylesheet" href="css/Sugar Remedies.css">
</head>
<body>
    {{>header}}

<div class="sugar__main">
<h2>Sugar - Symptom, Treatment And Causes</h2>

</div>
<div class="sugar__heading">
<h3>Types Of Sugar? </h3>
<p>
There are two types of diabetes. <p> Type 1 Diabetes </p> <p>Type 2 Diabetes </p> <p>In Type 1 Diabetes, which constitutes around 10% of all diabetes cases, the patient’s body does not produce insulin.</p> <p>In Type 2 Diabetes, which constitutes around 90% of all diabetes cases globally, the body does not produce enough insulin. Affects and Consiquences :</p>
</p> 
</div>
<div class="sugar">
    <h2>What is Sugar?</h2>
<p>
Sugar, which is medically known as diabetes or diabetes mellitus, is a group of metabolic disease in which the patient has a high blood sugar (blood glucose), either because the patient’s body cells are not responding properly to insulin or because the insulin production in the patient’s body is inadequate. Patients suffering from this disease typically experience polyphagia (extreme hunger), polydipsia (get very often thirsty) or polyuria (frequent urination).Diabetes is a long term malady.
</p>

<p>

There are two types of diabetes. Type 1 Diabetes Type 2 Diabetes In Type 1 Diabetes, which constitutes around 10% of all diabetes cases, the patient’s body does not produce insulin.In Type 2 Diabetes, which constitutes around 90% of all diabetes cases globally, the body does not produce enough insulin.
Type 1 Diabetes
Type 2 Diabetes
In Type 1 Diabetes, which constitutes around 10% of all diabetes cases, the patient’s body does not produce insulin.In Type 2 Diabetes, which constitutes around 90% of all diabetes cases globally, the body does not produce enough insulin.

</p>

<h2> Affects and Consiquences : </h2>
<p>
    There is also another type of diabetes that only sometimes affects women during their pregnancy.

Patients suffering from this illness need to eat healthy, test their blood sugar level regularly and remain physically active. Patients are advised by the doctor to take insulin to control their blood sugar level and also take oral medication for overall wellbeing. Diabetes patients must also check their cholesterol and blood pressure level regularly. It has been noted, diabetes patients are at a greater risk of facing cardiovascular diseases. As smoking affects your cardiovascular health, hence diabetes patients are advised to quit smokingLow blood sugar level in the body is known as hypoglycemia, and when it gets higher it is medically called hyperglycemia. It was noticed that as we get older we tend to develop the risk of getting affected by type 2 diabetes. Although experts are not sure about the reason, but it is assumed that it happens, because ageing makes us put on weight and we also remain less physically active as we grow old.

African, Middle Eastern and South Asian people have a higher risk of developing this disease.
</p>

</div>


<div class="sugar__experts">
    <h2>What Experts say :</h2>
    <p>Experts are also of the opinion that men who have low testosterone level, have a higher risk of developing type 2 diabetes. Some of the diseases that affect diabetes patients are cataracts, glaucoma, diabetic retinopathy, skin disorders, ischemic heart disease, gum diseases, Hyperosmolar Hyperglycemic Nonketotic Syndrome, kidney disease and male impotence.
     Generally people suffering from both types of diabetes have healing problems, whereby their cuts and wounds takes longer to get healed.The A1C test, fasting plasma glucose test and oral glucose tolerance test are some of the tests done by the doctor to find whether the patient is suffering from this disease.</p>
</div>

</body>
</html>