<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yoga health</title>
    <link rel="stylesheet" href="css/yoga.css">
</head>

<body>
{{>header}}
    <div class="logo">
        <img src="images/yoga logo.png" alt="">
    </div>
    <div class="heading">
    <h1>
        YOGASANS
    </h1>
    </div>
    <div class="container__yoga">
     <img class="photo main__photo" src="images/logo2.jpg" alt=""> Yoga (/ˈjoʊɡə/, About this soundpronunciation; Sanskrit: योग, lit. 'yoke' or 'union') is a group of physical, mental, and spiritual practices or disciplines that originated in ancient India, aimed
        at controlling ('yoking') and stilling the mind, and recognizing the detached 'witness-consciousness' as untouched by the activities of the mind and mundane suffering. There are a broad variety of yoga schools, practices, and goals in Hinduism,
        Buddhism, and Jainism,and traditional forms and modern methods of yoga are practiced worldwide. There are broadly two kinds of theories on the origins of yoga. The linear model argues that yoga has Aryan origins, as reflected in the Vedic textual
        corpus, and influenced Buddhism; according to Crangle, this model is mainly supported by Hindu scholars. The synthesis model argues that yoga is a synthesis of indigenous, non-Aryan practices with Aryan elements; this model is favoured in western
        scholarship. Yoga is first mentioned in the Rigveda and also referenced in many Upanishads. The first known formal appearance of the word "yoga", with the same meaning as the modern term, is in the Katha Upanishad, probably composed between the
        fifth and third century BCE. Yoga continued to develop as a systematic study and practice during the 5th and 6th centuries BCE, in ancient India's ascetic, and Śramaṇa movements. The most comprehensive text on Yoga, Yoga Sutras of Patanjali date
        to the early centuries CE, while Yoga philosophy came to be marked as one of the six orthodox philosophical schools of Hinduism in the second half of the first millennium. Hatha yoga texts began to emerge between the 9th and 11th century with
        origins in tantra. The term "yoga" in the Western world often denotes a modern form of hatha yoga and a posture-based physical fitness, stress-relief and relaxation technique, consisting largely of the asanas, in contrast with traditional yoga,
        which focuses on meditation and release from worldly attachments. It was introduced by gurus from India, following the success of Vivekananda's adaptation of yoga without asanas in the late 19th and early 20th centuries, who introduced the Yoga
        Sutras to the west. The Yoga Sutras gained prominence in the 20th century following the success of hatha yoga.
    
 </div>


<div class="heading">
    <h1><u>POSES IN YOGA</u></h1>
</div>
    
  <div class="container__yoga">
        The several yoga poses or asanas (meaning steady pose) here form the foundation of the health. They exercise every part of the body, stretching and toning the muscles and joints, the spine and the entire skeletal system. And they work not only on the
        frame but also on the internal organs, glands and nervous system, keeping us in radiant health. By releasing physical and mental tension they liberate vast resources of energy giving us vigour and vitality. With regular practice the poses consciously
        become an exercise in concentration and meditation, and lead to a calmer mind and reduction in stress.
  </div>  

    <div class="subheading">
    <h2><u>Sitting Forwork Band</u></h2>
    </div>

    <div class="container__yoga">
            <img class="photo" src="images/sitting forward band.jpg" alt="">
            <!-- sitting forword band yogas-->
            The Sitting Forward Bend massages, stimulates and tones the entire digestive system, regulating peristalsis and increasing digestive power. The functions of the pancreas are regulated controlling blood sugar levels and carbohydrate metabolism. Disorders
            of the urogenital system are alleviated. All the muscles in the back of the body are stretched increasing flexibility in the hips. Excess weight in the waist area is reduced. The entire nervous system is invigorated and a feeling of surrender
            fostered.
    </div>
    
    <div class="subheading">
    <h2><u>Bhujang Aasan</u></h2>
    </div>

    <div class="container__yoga">
            <img class="photo" src="images/cobra pose.jpg" alt="">
            <!--cobra aasan-->
            Etymology and origins The pose is named for its resemblance to a cobra with its hood raised. The name comes from the Sanskrit words भुजङ्ग bhujaṅga, "snake" or "cobra" and आसन āsana, "posture" or "seat", from the resemblance to a cobra with its hood raised
            and was described in the 17th century hatha yoga text Gheranda Samhita in chapter 2, verses 42-43. In the 19th century Sritattvanidhi, the pose is named Sarpasana, which similarly means Serpent Pose.[3] Description Variant form with less extreme
            backbend The pose may be entered from a prone position or from Downward Dog. The palms are placed under the shoulders, pushing down until the hips lift slightly. The backs of the feet rest on the ground, the legs outstretched; the gaze is
            directed forwards, giving the preparatory pose. For the full pose, the back is arched until the arms are straight, and the gaze is directed straight upwards or a little backwards. The legs remain on the ground, unlike in the similar Upward
            Dog pose.[4] Bhujangasana is part of the sequence of yoga postures in some forms of Surya Namaskar, the Salute to the Sun.[5] Variations Sphinx pose, an easier variant, and a Yin Yoga pose An easier variant is Sphinx Pose, sometimes called
            Salamba Bhujangasana (षलम्ब भुजङ्गासन),[6] in which the forearms rest on the ground, giving a gentler backbend.[7] It is used in the long holds of Yin Yoga, either with the forearms on the ground or with the arms straightened.[8] Advanced
            practitioners may fold the legs into Padmasana (lotus).[8] The pose can be modified, for instance, in pregnancy, by placing a blanket under the pelvis.[8]
    </div>

   <div class="subheading">
    <h2><u>Hand Feet Pose</u></h2>
    </div>

    <div class="container__yoga">
            <img class="photo" src="images/forword band.jpg" alt="">
            <!--hand feet pose-->
            The Hands to Feet Pose increases the length of the spine and spinal elasticity and tones the spinal nerves. The whole nervous system is invigorated and with the increased blood supply to the head, the brain stimulated. Abdominal fat is removed inducing
            a feeling of lightness. The muscles of the legs and back are stretched and strengthened and the sense of balance both physical and mental is improved.
    </div>
    
    <div class="subheading">
    <h2><u>Triangle Toes Pose</u></h2>
   </div>

    <div class="container__yoga">
            <img class="photo" src="images/triangular.jpg" alt=""> The Triangle tones the spinal nerves and abdominal organs. Peristalsis of the digestive tract is increased. The pelvic area, legs and arms are strengthened, and hip flexibility promoted.
            Increased lateral movement to the spine is developed with each side of the body stretched and strengthened and balance improved. It is known to relieve nervous depression
    </div>
    
    <div class="subheading">
    <h2> <u>Kapalabhati</u></h2>
   </div>

    <div class="container__yoga">      
            <img class="photo" src="images/kapal bhati.jpg" alt="">
            <!-- kapal bhati -->
            Kapalabhati (Sanskrit: कपालभाति, romanized: kapālabhāti), also called breath of fire,[1] is an important Shatkarma, a purification in hatha yoga. The word kapalabhati is made up of two Sanskrit words: kapāla meaning 'skull', and bhāti meaning 'shining,
            illuminating'. It is intended mainly for cleaning the sinuses but according to the Gheranda Samhita has magical curative effects.[2] The Technique of Kapalabhati[3] involves short and strong forceful exhalations and inhalation happens automatically.[4]
            There are three forms of Kapalabhati: Vatakrama kapalabhati, a practice similar to the Pranayama technique of Bhastrika, except that exhalation is active while inhalation is passive, the opposite of normal breathing. Vyutkrama kapalabhati,
            a practice similar to Jala neti, it involves sniffing water through the nostrils and letting it flow down into the mouth, and then spitting it out. Sheetkrama kapalabhati, can be considered the reverse of Vyutkrama kapalabhati, in which water
            is taken through the mouth and expelled through the nose.
    </div>

 <div class="subheading">
    <h2><u>Pranayam</u></h2>
</div>

    <div class="container__yoga">
            <img class="photo" src="images/pranayam.jpg" alt=""> Prāṇāyāma (Devanagari: प्राणायाम prāṇāyāma) is a Sanskrit compound. It is defined variously by different authors. Macdonell gives the etymology as prana (prāṇa), breath, + āyāma and defines
            it as the suspension of breath. Monier-Williams defined Pranayama in terms of the elements of Kumbhaka. Monier-Williams defines the compound prāṇāyāma as "of the three 'breath-exercises' performed during Saṃdhyā (See pūrak, rechak (English:
            retch or throw out), kumbhak".This technical definition refers to a particular system of breath control with three processes as explained by Bhattacharyya: pūrak (to take the breath inside), kumbhak (to retain it), and rechak (to discharge
            it). There are other processes of prāṇāyāma besides this three-step model. V. S. Apte's definition of āyāmaḥ derives it from ā + yām and provides several variant meanings for it when used in compounds. The first three meanings have to do with
            "length", "expansion, extension", and "stretching, extending", but in the specific case of use in the compound prāṇāyāma he defines āyāmaḥ as meaning "restrain, control, stopping". Ramamurti Mishra gives the definition: Expansion of individual
            energy into cosmic energy is called prāṇāyāma (prāṇa, energy + ayām, expansion).
    </div>

    {{!-- <div class="container__yoga">    
            <img src="" alt="">
    </div>

    <div class="subheading">
    <h2><u></u></h2>
   </div>

    <div class="container__yoga">
        <p>
            <img src="" alt="">
        </p> --}}
    </div>
</body>

</html>