
/* middle part */
/* 
.heading__tips{
} */

.heading__tips h2{
    margin-top: 20px;
    text-align: center;
    font-family: cursive;
    font-weight: 500;
    transition:all 1s ease; 
    color:gray; 
}