@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.flickity{  
    margin: 20px 1vw; 
    width: 98vw;
}
/* carosol starts */
.carousel {
    background: rgba(97, 221, 205, 0.301);
  }

.carousel-cell img{
    width: 90vw;
    height: 400px;
}

.balancediet{
     margin: 30px;
     padding: 10px;
     text-align: center;
     font-size: 2rem;
     background: #000;
     color: #fff;
}

.diet__container{
    margin: 10px 20px;
    padding: 10px;
    color: #fff;
    background: #000;
    text-align: center;
    font-size: 1.3rem;
}

.diet__container h1,.balancediet h2{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.diet__container p{
    padding: 4px 0;
}

.diet__plan{
    margin: 20px 30px;
    padding: 10px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.885);
    border-radius: 5px;
}

.diet__plan h3{
    font-size: 1.5rem;
    color: brown;
}
.diet__plan h2{
    color: cadetblue;
}
.diet__plan p{
    font-size: 1.3rem;
}

.note{
    margin: 5px 0;
}

.summary{
    margin: 5px 0;
    padding: 5px 0;
}


@media screen and (max-width:800px){
    .diet__plan h3{
        font-size: 1.3rem;
    }
    .diet__plan p{
        font-size: 1rem;
    }
}
@media screen and (max-width:500px){
    .balancediet{
        font-size:1.3rem;
        margin: 10px;
    }
    .diet__container{
        margin: 10px;
        font-size: 1.3rem;
    }
    .diet__container h1{
        font-size: 1.5rem;
    } 
    .diet__plan{
        margin: 10px;
    }

}